.{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 100px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 148px;}
.logo{
    background-image: url("ama.jpg.jpg");
    height: 50px;
    background-size: cover;
    width: 77%;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.add-icon{
    display: flex;
    align-items:center;
}
.ad{
    color: #cccccc;
    font-size: 0.8rem ;
    margin-left: 15px;
}
.i{
    font-size: 1rem;
    margin-left: 3px;
}
.nav-address{
    width: 100px;
}
